<nav class="navbar">
  <a href="/"><h1>My Subscriptions</h1></a>
  <div class="links">
    <a href="/addsubscription">New Subscription</a>
    <a class="new-item-link" href="/user/logout">Logout</a>
  </div>
</nav>
